In [1]:
def test():
	pass

In [2]:
def test1():
	print("Hello")
test1()

Hello

In [3]:
def test2():
	return "Tushar"
test2()

'Tushar'

In [4]:
def test3():
	return "Liku",22,"Khurdha"

In [5]:
a,b,c = test3()

In [6]:
a

'Liku'

In [7]:
b

22

In [8]:
c

'Khurdha'

In [9]:
def test4(a,b,c):
	d = a+b/c
	return d

In [10]:
test4(2,4,2)

4.0

In [11]:
def test5(l):
	l1 = []
	for i in l:
		if type(i) == int or type(i) == float :
			l1.append(i)

In [14]:
l = [1,2,3,4,5,"Liku"]

In [16]:
test5(l)

In [18]:
def test6(a):
	"""this is my function to extract num data from list"""
	pass

In [19]:
def test7(*args,a):
	pass

In [21]:
test7(1,2,3,a=4)

In [22]:
def test8(**kwargs):
	return kwargs

In [23]:
test8()

{}

In [24]:
test8(a= [1,2],b=[2,3])

{'a': [1, 2], 'b': [2, 3]}

In [25]:
for i in range(10):
	print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
def test_fib(n):
	a,b = 0,1
	for i in range(n):
		yield a
		a,b = b, a+b

In [27]:
test_fib(5)

In [28]:
for i in test_fib(10):
	print(i)

0
1
1
2
3
5
8
13
21
34

In [29]:
def test_fib1():
	a,b = 0,1
	while True:
		yield a
		a,b = b,a+b

In [35]:
fib = test_fib1()

In [36]:
for i in range(10):
	print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [37]:
s= "Tushar"

In [38]:
for i in s:
	print(i)

T
u
s
h
a
r

In [39]:
next(s)

TypeError: 'str' object is not an iterator

In [41]:
s1 = iter(s)

In [42]:
next(s1)

'T'

In [43]:
next(s1)

'u'

In [44]:
type(test)

function

In [45]:
type(S1)

NameError: name 'S1' is not defined

In [46]:
type(test_fib1)

function

In [47]:
def count_test(n):
	count =1
	while count < n:
		yield count
		count+=1

In [50]:
c = count_test(5)

In [51]:
for i in c :
	print(i)

1
2
3
4

In [55]:
def fun1(n,p):
	return n**p

In [56]:
fun1(2,3)

8

In [60]:
a = lambda n,p : n**p

In [62]:
a(2,3)

8

In [63]:
add = lambda a,b: a+b

In [64]:
add(2,3)

5

In [65]:
finding_max = lambda a,b : a if a > b else b

In [66]:
finding_max(5,2)

5

In [68]:
find_length = lambda s : len(s)

In [69]:
find_length("Tushar")

6

In [70]:
l= [1,2,3,4,5,6,7,8]

In [71]:
def test(l):
	l1 = []
	for i in l:
		l1.append(i**2)
	return l1

In [72]:
l1

NameError: name 'l1' is not defined

In [73]:
test(l)

[1, 4, 9, 16, 25, 36, 49, 64]

In [74]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [75]:
def sq(x):
	return x**2

In [77]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64]

In [78]:
list(map(sq,7))

TypeError: 'int' object is not iterable

In [79]:
list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64]

In [80]:
l1 = [1,2,3,4]
l2 =[5,6,7,8]
list(map(lambda a,b : a+b,l1,l2))

[6, 8, 10, 12]

In [81]:
s = "tushar"

In [82]:
list(map(lambda s : s.upper(),s))

['T', 'U', 'S', 'H', 'A', 'R']

In [83]:
l = [1,2,3,4,5,6,7,8]

In [84]:
from functools import  reduce

In [85]:
reduce (lambda x,y : x+y,l)

36

In [86]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [87]:
list(filter(lambda x : x%2==0 ,l))

[2, 4, 6, 8]