In [1]:
a=10

In [2]:
a

10

In [3]:
print(a)

10

In [4]:
b = -345

In [5]:
type(b)

int

In [6]:
b

-345

In [8]:
c=.345
print(c,type(c))

0.345 <class 'float'>

In [9]:
d = True
type(d)

bool

In [10]:
True+False

1

In [11]:
a= 3+8j

In [12]:
type(a)

complex

In [13]:
a.imag

8.0

In [14]:
a.real

3.0

In [16]:
name = input("Enter your name ")

In [17]:
name

'Tushar'

In [18]:
age = input("Age")

In [19]:
age

'22.12'

In [20]:
height = input("Enter height ")

In [21]:
type(height)

str

In [22]:
details = input("Enter name , Enter age ,Enter height ")

In [23]:
details

'Tushar,22,155'

In [25]:
details.split(",")

['Tushar', '22', '155']

In [26]:
details[0]

'T'

In [27]:
details.split(",")[0]

'Tushar'

In [28]:
from getpass import getpass
getpass("Enter your password ")

'Tushar@2001'

In [29]:
#Dynamically typed 
a=10
a="Tush"
a = True

In [30]:
a

True

In [31]:
Type(a)

NameError: name 'Type' is not defined

In [32]:
type(a)

bool

In [34]:
name = input("Enter your name ")
name1 = "Hello %s"%name
name1

'Hello Tushar'

In [36]:
height = float(input("Enter height "))
text = "height %.4f"%height
text = "%s is %d years old"%(name,height)

In [37]:
text

'Tushar is 155 years old'

In [40]:
age = int(input("Enter your age "))
name = input("Enter your name ")
ans = "{} is {} years old ".format(name,age)

In [41]:
ans

'Tushar is 22 years old '

In [47]:
name ="Tushar"
age = 22
height = 155.56
ans  = "{name} is {age} years old with {height} height ".format(name=name,age=age,height=height)
print(ans)

Tushar is 22 years old with 155.56 height

In [48]:
name = "Tushar"
text =f"my name is {name}"

In [49]:
text

'my name is Tushar'

In [50]:
print(r'Python\nis\easy\to\learn')

Python\nis\easy\to\learn

In [52]:
print(r"Python\nis\easy\to\learn")

Python\nis\easy\to\learn

In [56]:
a=(str)10
b= "Tushar "
c=20
b+c
b+(str)c

SyntaxError: invalid syntax (3069615566.py, line 1)

In [57]:
l=[1,2,3,4,5]*3

In [58]:
l

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [64]:
l1 = [1,2,3,4,5]
# l2 = [2,3,4,5,6]
# l3 = l1+l2
l1*3

# print(l1)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [65]:
l1

[1, 2, 3, 4, 5]

In [1]:
l1 = [1,2,3,4]
l2 =[2,3,4,5]

In [7]:
class student:
	def __init__(self,m1,m2):
		self.m1 =m1
		self.m2 = m2
	def __add__(self,other):
		m1 = self.m1 + other.m1
		m2 = self.m2+other.m2
		s3=student(m1,m2)
		return s3
	def __gt__(self,other):
		r1 = self.m1+self.m2
		r2 = other.m1+other.m2
		if r1>r2:
			return True
		else:
			return False

s1=student(78,89)
s2 =student(87,67)
s3=s1+s2
if s1 > s2:
	print("s1 wins")
else:
	print("s2 wins")
print(s3.m1)

s1 wins
165

In [3]:
s3

In [4]:
s3.m1

165