In [1]:
a=1

In [2]:
print(type(a))

<class 'int'>

In [3]:
class test:
	pass

In [4]:
a = test()

In [5]:
type(a)

__main__.test

In [6]:
print(type(a))

<class '__main__.test'>

In [13]:
class pwskills:
	def welcome_msg(self):
		print("Good morning ")

In [14]:
rohan = pwskills()

In [15]:
print(type(rohan))

<class '__main__.pwskills'>

In [16]:
rohan.welcome_msg()

Good morning

In [29]:
class pwskills1():
	def __init__(self,ph_number,email_id,student_id):
		self.student_id = student_id
		self.ph_number = ph_number
		self.email_id = email_id
		
	def student_details(self):
		return self.student_id,self.ph_number,self.email_id

In [30]:
rohan = pwskills1("133/19",8917355202,"tushar@gmail.com")

In [31]:
rohan.email_id

8917355202

In [32]:
rohan.student_details()

('tushar@gmail.com', '133/19', 8917355202)

In [1]:
bin(12)

'0b1100'

In [2]:
int("1111",base = 2)

15

In [3]:
2^4

6

In [4]:
bin(2)

'0b10'

In [5]:
bin(4)

'0b100'

In [6]:
-4^12

-16

In [7]:
bin(-4)

'-0b100'

In [8]:
bin(12)

'0b1100'

In [9]:
bin(-16)

'-0b10000'

In [10]:
~4

-5

In [11]:
!2

'2' is not recognized as an internal or external command,
operable program or batch file.

In [12]:
~13

-14

In [14]:
s=r"Tushar 's program"
len(s)

17

In [15]:
s

"Tushar 's program"

In [16]:
print(s)

Tushar 's program

In [17]:
s

"Tushar 's program"

In [18]:
s.title()

"Tushar 'S Program"

In [19]:
s.lstrip()

"Tushar 's program"

In [20]:
s.__contains__(p)

NameError: name 'p' is not defined

In [21]:
s.find("p")

10

In [22]:
s

"Tushar 's program"

In [23]:
s.isspace()

False

In [24]:
s.istitle()

False

In [25]:
l =[]

In [26]:
type(l)

list

In [27]:
len(l)

0

In [28]:
l1 = [1,2,3,4,5,"Tushar",34+2j]

In [29]:
l1

[1, 2, 3, 4, 5, 'Tushar', (34+2j)]

In [1]:
number = int(input("Entert a number"))
if number > 0 :
	print("+ve")
else:
	print("-ve")

+ve

In [2]:
color = input("Enter a color ")
match color:
	case "red":
		print("Color is red ")
	case "orange":
		print("Color is orange")
	case "blue":
		print("color is blue")
	case _:
		print("Color is not matching ")

Color is not matching

In [3]:
number = int(input("Enter a number "))
match number:
	case number if number < 0 :
		print("-ve")
	case number if number > 0:
		print("+ve")
	case number_:
		print("zero")

zero

In [6]:
l1 = [1,2,3,4]
l2= [1,2,3,4]
for i in zip(l1,l2):
	print(l1,l2)

[1, 2, 3, 4] [1, 2, 3, 4]
[1, 2, 3, 4] [1, 2, 3, 4]
[1, 2, 3, 4] [1, 2, 3, 4]
[1, 2, 3, 4] [1, 2, 3, 4]

In [7]:
l1

[1, 2, 3, 4]

In [8]:
l2

[1, 2, 3, 4]

In [9]:
l3 = list(sum(i) for i in zip(l1,l2))

In [10]:
l3

[2, 4, 6, 8]

In [13]:
l4= list(map(lambda x,y : x+y,l1,l2))

In [14]:
l4

[2, 4, 6, 8]

In [15]:
l3

[2, 4, 6, 8]

In [20]:
n= int(input("Enter a number "))
for i in range(1,11):
	print(f"{n}*{i}={n*i}")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [22]:
n= int(input("Enter a number "))
for i in range(1,11):
	print(n," x ",i, "=",n*i)

9  x  1 = 9
9  x  2 = 18
9  x  3 = 27
9  x  4 = 36
9  x  5 = 45
9  x  6 = 54
9  x  7 = 63
9  x  8 = 72
9  x  9 = 81
9  x  10 = 90

In [1]:
l=[]
for i in range(10):
	l.append(i**2)

In [2]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
[i**2 for i in range(10) ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[i for i in range(20) if i %2==0  ]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
word = ["tusha","liku"]

In [6]:
[i.upper() for i in word]

['TUSHA', 'LIKU']

In [8]:
[i[0] for i in word]

['t', 'l']

In [10]:
[(i, i**2) for i in range(10)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [11]:
l = [[1,2,3],[2,3,4],[3,2,3,4,2]]

In [12]:
[ i for i in l ]

[[1, 2, 3], [2, 3, 4], [3, 2, 3, 4, 2]]

In [14]:
[j for i in l for j in i ]

[1, 2, 3, 2, 3, 4, 3, 2, 3, 4, 2]

In [15]:
l=[12,432,354,451543,342,453,5,43,34,53,6,32,34]

In [16]:
["Even" if i%2==0 else "odd" for i in l]

['Even',
 'Even',
 'Even',
 'odd',
 'Even',
 'odd',
 'odd',
 'odd',
 'Even',
 'odd',
 'Even',
 'Even',
 'Even']

In [17]:
s= "Tushar"
next(s)

TypeError: 'str' object is not an iterator

In [18]:
s= iter(s)

In [28]:
next(s)

StopIteration:

In [1]:
def test():
	return 23

In [2]:
test()

23

In [3]:
def test(a:int,b:str,c:bool):
	return a,b,c

In [4]:
test(23,"Tushar",True)

(23, 'Tushar', True)

In [1]:
s="Tushar"
s1 = s[::-1]

In [2]:
s1

'rahsuT'

In [3]:
s

'Tushar'

In [5]:
def fun(a,b=2,c="Tushar"):
	return a,b,c

In [6]:
fun(99.00)

(99.0, 2, 'Tushar')

In [7]:
fun(a=12,b="Liku",c=3.0)

(12, 'Liku', 3.0)

In [8]:
def fun1(b,n,a:str="Tushar"):
	return a,b,n

In [9]:
fun1(1,2,3)

(3, 1, 2)

In [12]:
def test():
	def test1():
		return "test1"
	return test1()

In [13]:
test()

'test1'

In [15]:
def outer_fun(text):
	def inner_fun():
		return text.upper()
	return inner_fun()

In [16]:
outer_fun("Tushar")

'TUSHAR'

In [22]:
def multiply(n):
	def multiplayer(number):
		return n * number
	return multiplayer

In [23]:
x= multiply(3)

In [24]:
x(12)

36

In [25]:
def set_age(age):
	def validator():
		if 0<=age<=60:
			return True
		else:
			return False
	return "Valid age" if validator() else "Invalid Age"

In [26]:
set_age(45)

'Valid age'

In [29]:
add =lambda a,b :a+b

In [28]:
lambda(1,2)

SyntaxError: invalid syntax (872969280.py, line 1)

In [30]:
add(1,2)

3

In [31]:
check_even = lambda a :a%2==0

In [32]:
check_even(12)

True

In [35]:
reverse_list = lambda s : [::-1]

SyntaxError: invalid syntax (2778076447.py, line 1)

In [34]:
s="Tushar"

In [37]:
reverse_list = lambda s : s[::-1]

In [38]:
reverse_list(s)

'rahsuT'

In [39]:
reverse_list = lambda s : s[::-1]

In [40]:
reverse_list("Racecar")

'racecaR'

In [41]:
l = [(3,4,5),(2,3,4),(1,2,3)]

In [42]:
sort_second_num_tuple = lambda l : sorted(1,key = lambda x:x[i])

In [43]:
sort_second_num_tuple(l)

TypeError: 'int' object is not iterable

In [44]:
s="Tusharkanta"
check_first_char = lambda s , char : s.startswith(char)

In [45]:
check_first_char(s,"T")

True

In [48]:
number = [3,4,5,6,7,8,9,5]
square = list(map(lambda x : x**2,number))

In [49]:
square

[9, 16, 25, 36, 49, 64, 81, 25]

In [50]:
list(square)

[9, 16, 25, 36, 49, 64, 81, 25]

In [51]:
def test(x):
	return x

In [52]:
map(test,number)

In [53]:
list(map(test,number))

[3, 4, 5, 6, 7, 8, 9, 5]

In [54]:
l = ["Tushar","Liku","Python","Java"]

In [55]:
list(map(lambda x : x.upper(),l))

['TUSHAR', 'LIKU', 'PYTHON', 'JAVA']

In [59]:
l1= [3,4,5,6]
l2 = [4,5,6,7]
list(map(lambda x,y :x+y ,l1,l2))

[7, 9, 11, 13]

In [60]:
from functools import reduce

In [61]:
l= [3,4,5,6]
sum(l)

18

In [62]:
reduce(lambda x,y : x+y,l)

18

In [63]:
l= [4,5,6,7,88,54,653,63,454,5,36,346,23,4]

In [64]:
max(l)

653

In [65]:
reduce (lambda x,y : x if x> y else y ,l)

653

In [66]:
l= ["tushar","kanta","Bihari"]

In [67]:
reduce (lambda x,y :x+y , l)

'tusharkantaBihari'

In [72]:
l = [ [2,3,4],[3,4,5],[5,6,7]]
reduce (lambda x,y :set(x) & set(y),l)

set()

In [74]:
reduce(lambda x,y :set(x) & set(y),l)

{3, 4}

In [73]:
l= [[2,3,4,5],[3,4,5,6],[6,7,8,9,3,4]]
reduce(lambda x,y : set(x) & set(y),l)

{3, 4}

In [76]:
l = [4,5,6,7,7,8,89,8,9,6,6,2,3,4,5,6]
list(filter(lambda x : x%2 !=0 ,l))

[5, 7, 7, 89, 9, 3, 5]

In [77]:
l = ["","Tushar","","Liku"]
list(filter(None,l))

['Tushar', 'Liku']

In [78]:
l =[-4,-5,3,6,-5,-5,-79,65,34,54,45,345,534,-534,53434]
list(filter(lambda x : x<0,l))

[-4, -5, -5, -5, -79, -534]

In [81]:
l = [2,1,2,3,4,5,6,7,7]
list(map(lambda x : x**2,filter (lambda x : x%2==0,l)))

[4, 4, 16, 36]

In [82]:
l

[2, 1, 2, 3, 4, 5, 6, 7, 7]

In [83]:
reduce(lambda x,y : x+y,list(map(lambda x : x**2,filter(lambda x: x%2 ==0 ,l))))

60

In [84]:
def say_hello():
	print("Hello")

In [85]:
say_hello()

Hello

In [92]:
def fib(n):
	while(n <2):
		return n
	return fib(n-1)+ fib(n-2)

In [93]:
fib(5)

5

In [94]:
fib(10)

55

In [95]:
def fact(n):
	while n == 0 :
		return 1
	return n * fact(n-1)

In [96]:
fact(5)

120